{% extends "base.html" %}
{% block body %}

<p id="aboutus"> About Hot Brain</p>

<div class="container">

    <div class="inner">
        <img id="slide" src="/static/images/brainbit.jpg">
        <div id="slidetext">Are you tired of swiping and filling out endless forms to find a person who you can vibe with?</div>
    </div>

    <img src="/static/images/next.png" id="next" onclick="next()">
    <img src="/static/images/prev.png" id="prev" onclick="prev()">

</div>
<script type="text/javascript" src="/static/js/javascript.js"></script>



{% endblock %}