{% extends "base.html" %}
{% block body %}
<h1>
    Welcome to Hot Brain
</h1>

<p class="pic">
    <img src="/static/images/hblogo.png" width="500px" height="500px" alt="hotbrain logo picture">
</p>

<h2 style: margin="0px 0px 50px 50px";>
    Calm your mind. Relax your thoughts. React naturally.
</h2>

<div class="follow" >
    <p style="font-size:large">Follow us on:</p>
    <a href="https://www.youtube.com/channel/UCxIGoFF-swaTfaSpMJ_9azw"><img src="/static/images/youtubelogo.jpg" height="100" width="100"></a>
    <a href="https://twitter.com/HotbrainAI"><img src="/static/images/xlogo.avif" height="100" width="100"></a>
</div>

{% endblock %}