<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot Brain</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>

    <style>
        body {
          background-color: rgb(185, 178, 185);
            /**/
        }

        h1 {
            font-size: 40px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: center;}
        h2{
            font-size: 28px;
            text-align: center;}
    </style>

</head>
<body>
    <div id="main">
        <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="matches.html">Matches</a></li>
            <li><a href="movie.html">Movie</a></li>
            <li><a href="survey.html">Survey</a></li>
        </ul>
    </div>

    <h1>
        Welcome to Hot Brain
    </h1>

    <p>
        <h2>
            Calm your mind.</br>
            Relax your thoughts.</br>
            React naturally.</br>
            <b><a href="survey.html" target="">survey link</a></b>
        </h2>
    </p>
</body>
</html>