{% extends "base.html" %}
{% block title %}{{ super() }}- Matches{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    table {
        margin: 0 auto;
        font-size: large;
        border: 2px solid black;
    }
</style>
{% endblock %}
{% block body %}

<h2> Temp holding until I can figure out getting data from PostgreSQL</h2>
<script>
document.write("<table border='1'> <caption>Matches</caption> <tr><th>User</th><th>Match Rating</th></tr>");

for(var i = 0; i<=5; i++){
    {
        document.write("<tr><td> Match "+i+"</td><td>"+Math.floor(Math.random() * 100)+"</td></tr>");
    }
}
</script>



{% endblock %}
