{% extends "base.html" %}
{% block title %}{{ super() }}- Matches{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    table {
        border: 2px solid rgb(253, 253, 253);
    }
</style>
{% endblock %}
{% block body %}


<div class="wrapper">
    <table border='1'>
        <caption style="font-size: 3em; font-weight: bold">Matches</caption>
        <tr><th>User</th><th>Match Rating</th><th>Chat</th></tr>
        {% for m in g.matches %}
        <tr><td>{{ m[0] }}</td><td>{{ m[1] }}</td><td><a href="">Unite Brains</a></td></tr>
        {% endfor %}
    </table>

    <div class= "text">
    
        <ul>
            <li>You matched with these other Hot Brains!</li><br><br>
            <li>They are listed in decending order of best to last.</li><br><br>
            <li>"Match Rating" shows the variance between brain data of reaction to the video.</li> <br><br>
            <li>Click the "Unite Brains" link to message your match and see our product in action!</li>
        </ul>
    
    </div>
</div>
{% endblock %}
