{% extends "base.html" %}
{% block title %}{{ super() }}- Profile{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    div.survey {
        text-align: center;
    }
</style>
{% endblock %}
{% block body %}
<div class="survey">
    <form method="post">
        <p>User Information:</p>
        <label for="fname">First Name: </label>
        <input type="text" id="fname" name="fname" value="{{ g.user.first_name }}" />
        <label for="lname">Last Name: </label>
        <input type="text" id="lname" name="lname" value="{{ g.user.last_name }}" />

        <p>Gender Identity:</p>
        <input type="radio" id="gi_trans" name="gi" value="TRANSGENDER" {{ "checked" if g.user.gender_class.__str__() == "GenderClass.TRANSGENDER" }} />
        <label for="gi_trans">Trans</label><br />
        <input type="radio" id="gi_cis" name="gi" value="CISGENDER" {{ "checked" if g.user.gender_class.__str__() == "GenderClass.CISGENDER" }} />
        <label for="gi_cis">Cis</label><br />
        <input type="radio" id="gi_nonbinary" name="gi" value="OTHER" {{ "checked" if g.user.gender_class.__str__() == "GenderClass.OTHER" }} />
        <label for="gi_nonbinary">Nonbinary</label><br />

        <p>Gender Role:</p>
        <input type="radio" id="gr_male" name="gr" value="MALE" {{ "checked" if g.user.gender.__str__() == "Gender.MALE" }} />
        <label for="gr_male">Male</label><br />
        <input type="radio" id="gr_female" name="gr" value="FEMALE" {{ "checked" if g.user.gender.__str__() == "Gender.FEMALE" }} />
        <label for="gr_female">Female</label><br />

        <p>Are You Only Interested In Cisgender?</p>
        <input type="radio" id="yes" name="interest" value="YES" {{ "checked" if g.user.only_cisgender }} />
        <label for="yes">Yes</label><br />
        <input type="radio" id="no" name="interest" value="NO" {{ "checked" if not g.user.only_cisgender }} />
        <label for="no">No</label><br />

        <p>Seeking: </p>
        <input type="checkbox" id="male" name="sex" value="MALE" {{ "checked" if "Seeking.MALE" in g.user_seeking }} />
        <label for="male">Male</label><br />
        <input type="checkbox" id="female" name="sex" value="FEMALE" {{ "checked" if "Seeking.FEMALE" in g.user_seeking }} />
        <label for="female">Female</label><br />
        <input type="checkbox" id="nonbinary" name="sex" value="OTHER" {{ "checked" if "Seeking.OTHER" in g.user_seeking }} />
        <label for="nonbinary">Nonbinary</label><br />

        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
