{% extends "base.html" %}
{% block title %}{{ super() }}- Profile{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    div.survey {
        text-align: center;
    }
</style>
{% endblock %}
{% block body %}
<div class="survey">
    <form action="post">
        <p>Gender Identity:</p>
        <input type="radio" id="trans" name="gi" value="TRANS">
        <label for="trans">Trans</label><br>
        <input type="radio" id="cis" name="gi" value="CIS">
        <label for="cis">Cis</label><br>
        <input type="radio" id="nonbinary" name="gi" value="NONBINARY">
        <label for="nonbinary">Nonbinary</label><br>

        <p>Gender Role:</p>
        <input type="radio" id="male" name="gr" value="MALE">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gr" value="FEMALE">
        <label for="female">Female</label><br>

        <p>Are You Only Interested In Cisgender?</p>
        <input type="radio" id="yes" name="interest" value="YES">
        <label for="yes">Yes</label><br>
        <input type="radio" id="no" name="interest" value="NO">
        <label for="no">No</label><br>

        <p>Seeking: </p>
        <input type="checkbox" id="male" name="sex" value="<MALE">
        <label for="male">Male</label><br>
        <input type="checkbox" id="female" name="sex" value="FEMALE">
        <label for="female">Female</label><br>
        <input type="checkbox" id="nonbinary" name="sex" value="NONBINARY">
        <label for="nonbinary">Nonbinary</label><br>

        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
