.container {
    box-sizing: content-box;
    width: auto;
    height: auto;
    display: inline-block;
    border-radius: 40px;
    border: none;
}

#slidetext {
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}

.inner {
    box-sizing: content-box;
    width:800px;
    height: 800px;
    display: inline-block;
    border-radius: 40px;
    border: none;
    margin:0px;
    background-repeat:no-repeat;
}

#aboutus{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#slide{
    width:100%;
    height:530px;
    max-height: 530px;
}

#prev{
    max-height: 50px;
    max-width: 50px;
    float: left;
    padding-top: 250px;
    padding-bottom: 256px;
    margin: 0px;
    opacity: .75;
    transition: background-color 1.5s;
    transition: width 1.5s;
}

#prev:hover{
    opacity:1.0;
    background-color: lightgrey;

}

#next {
    margin: 0px;
    max-height: 50px;
    max-width:50px;
    float: right;
    padding-top:250px;
    padding-bottom: 258px;
    opacity: .75;
    transition: background-color 1.5s;
}

#next:hover{
    opacity:1.0;
    background-color:lightgrey;
}