#main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    height: 100%;
    background-image: linear-gradient(rgb(20, 32, 87),hotpink);
}

#main li {
    float: left;
}


#main li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    font-size: 34px;
    text-decoration: none;
}

#main li a .active {
    background-color: #04AA6D;
}

#main li a:hover:not(.active) {
    text-decoration:underline;
    transform: scale(1.5s);
}


#content {
    text-align: center;
}

h1 {
    display:inline-block;
    font-size: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0)
}

h2 {
    padding-bottom: none;
    margin-top: none;
    font-size: 40px;
    text-align: center;
}

.left {
    width: 400px;
    font-size: 20px;
    font-family: serif;
    border: auto;
}

.pic {
    position: static;
    display: block;
}

.right {
    border: none;
    float: right;
}

.box{
    background-color: rgb(158, 170, 158);
    width: 30%;
    text-align: left;
    display: inline-block;
    margin-top: 25;
    margin-left: 30%;
    margin-right: 30%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.survey{
    font-size: larger;
    font-family: cursive;
}