th{
    padding: 5px 15px 5px 15px;
    font-size: 2em;
    color: bisque;
    font-weight: bold;
}
td{
    color: goldenrod;
    font-size:1.5;
    padding: 5px 15px 5px 15px;
}

table{
    text-align:center;
    background-color: rgba(34, 33, 33, 0.479);
    border-style: inset;
    float:left;
}

* {
    box-sizing: border-box;
}

.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    margin: 150px auto;
    width: 70%;
}

.text{
    display:inline-block;
    color:black;
    font-size: 1.3em;
    font-family:monospace;
    font-weight: bold;
    text-align:left;
    padding-left: 50px;
}