secrets:
        secret_name : "dev_cis_444_secrets"
        region_name : "us-west-2"

database:
        host : "localhost"
        name : "hotbrain"
        username : "hotbrain"
        password : "hotbrain"
